.bMudar {
    padding-top: 20%;
    box-shadow: -1px 0px 0px 0px #041442;
    background-color: #041442;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 37px;
    text-shadow: 0px 1px 0px #0b2a73;
}

.bMudar:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.bMudar:active {
    position: relative;
    top: 1px;
}

#botoes_inicio{
    margin-top: 25%;
    margin-left: 33%;
}