.textInput {
    padding: 7px;
    font-size: 20px;
    border-width: 1px;
    border-color: #4a4949;
    background-color: #FFFFFF;
    border-radius: 7px;
    color: #000000;
    border-style: solid;
}

.inputbox{
    padding-bottom: 1%;
}

.bAdicionar {
    padding-top: 20%;
    box-shadow: -1px 0px 0px 0px #041442;
    background-color: #041442;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 37px;
    text-shadow: 0px 1px 0px #0b2a73;
}

.bAdicionar:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
}

.bAdicionar:active {
    position: relative;
    top: 1px;
}

.bVoltar {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.bVoltar:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.bVoltar:active {
	position:relative;
	top:1px;
}
